{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Memory Lane{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="logo">
            <h1><a href="{% url 'timeline' %}" style="color: rgb(28, 190, 199); text-decoration: none;">Memory Lane</a></h1>
            <nav class="menu">
                <div class="dropdown">
                    <img src="{% static 'images/profile-placeholder.png' %}" class="profile-icon">
                        <div class="dropdown-content">
                            <a href="{% url 'profile' %}">Profile</a>
                            <a href="{% url 'my_memory' %}">My Memories</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Content Section -->
    <main>
        {% block content %}
        <!-- Child templates will override this block -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer class="footer">
        <p>&copy; 2024 Memory Lane. All rights reserved.</p>
    </footer>
</body>
</html>
